html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

@mixin headers{
	text-align: right;
	text-transform: uppercase;
	color: $buttonColor;
}

body{
	background-color: $contentBackground;
}
img{
	width: 100%; 
}
.main-wrapper {
	width: 960px;
	margin: 5px auto;
	font-family: $fonts;
	font-size: 17px;
	color: $textColor;
}
.logo{
	float: left;
	img{
		width: 400px;
	}
}
nav{
	float: right;
	margin-top: 165px;
	border-top: 1px solid $borderColor;
	border-bottom: 1px solid $borderColor;
	padding: 18px;
	a {
		text-decoration: none;
		text-transform: uppercase;
		font-size: 19px;
		padding: 0 50px;
		color: $menuColor;
		&:hover{
			color: #000;
		}
	}
}

.toolbar{
	clear: both;
	text-align: right;
	input {
		height: 30px;
		width: 180px;
		padding-left: 10px;
		color: $menuColor;
		font-size: 15px;
		border: 1px solid $menuColor;
		background-color: $contentBackground;
		
	}
}

.post-list{
	display: flex;
	flex-wrap: wrap;
	article{
		display: inline-block;
		width: 46.99%;
		padding: 10px;
		background-color: $backgroundImage;
		float: left;
		&>div{
			margin: 0 10px;
			p{
				line-height: 1.6;
				padding-bottom: 20px;
			}
		}
		&:nth-child(odd){
			margin: 20px 7px 0 0;
		}
		&:nth-child(even){
			margin: 20px 0 0 7px;
		}
	}
}

.post-description{
	padding: 5px 15px 10px 15px;
  font-size: 13px; 
  border-bottom: 1px solid $textColor;
  color: $borderColor;
}

h3{
	margin: 10px 0 5px 0;
	padding: 0;
	color: $headerColor;
	text-transform: uppercase;
	line-height: 1.6;
}

.about{
	margin-top: 60px;
	h1{
		@include headers;
	}
	p{
		line-height: 1.5;
		&:nth-child(3), &:nth-child(4){
			margin: 25px 0;
		}
	}
	img {
		margin-top:20px;
	}
}

.contact-form{
	margin-top: 40px;
	h1, h4{
		@include headers;
	}
	.input, textarea{
		display: block;
		width: 97%;
		margin: 20px 0;
		padding: 12px;
		font-family: Arial, san-serif;
		font-size: 15px;
		border: 1px solid $borderColor;
	}
	.button{
		text-align: right;
		input{
			width: 200px;
			padding:12px;
			background-color: $buttonColor;
			color: #fff;
			text-transform: uppercase;
			border: 1px solid $buttonColor;
			&:hover{
				background-color: $textColor;
				border: 1px solid $textColor;
				cursor: pointer;
			}
		}
	}
}

footer{
	font-size: 14px;
	margin-top: 10px;
}